@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root {
    background-color: #e7d362;
    background: rgb(44, 63, 99);
    background: linear-gradient(180deg, rgba(44, 63, 99, 1) 0%, rgba(92, 130, 177, 1) 14%, rgba(0, 212, 255, 1) 100%);
    --secondary-color: rgba(1, 235, 243, 0.164);
}
  
span {
    color: var(--secondary-color);
    font-size: 60px;
    padding: -5px;
}  

* {
    padding: 0;
    margin: 0;
    /* text-decoration: none; */
    list-style: none;
}

.artist-image a {
    text-decoration: none;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2023/02/07/13/55/forest-7774205_960_720.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {

    padding: 50px;
    padding-bottom: 10px;
    display: flex;
    color: #ffffffde;
    justify-content: space-between;
}

.logo {
    font-size: 4rem;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.searchbarre {
    width: 10%;
    height: 10%;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--secondary-color);
}



.name {

    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 15px;
    color: rgb(17, 12, 12);
    margin: auto;
    border-radius: 10px;
}

.artist-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
}

.main-section {

    color: white;
    font-size: 1.3rem;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-artists {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.image-groupe {
    margin: 10px 10px;
    width: 200px;
    height: 80%;
    border-radius: 30px;
}
.image-groupe:hover{
    transform:scale(1.1);
    transition: 500ms
        
}
.container li {
    margin-bottom: 10px;
    color: white;
}

.container h2, .container h3 {
    color: white;
    margin-bottom: 50px;
}

.name-artist {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.groupe-details {
    position: relative;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 37, 37, 0.6);
    width: 60vw;
    height: 50vh;
}

.members {
    height: 100%;
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-artist {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    border-radius: 50%;
}

@media screen and (max-width: 390px) {
    .search-bar {
        display: none;
        transition: all 0.5s;
    }
    .header {
        text-align: center;
    }
    .logo {
        font-size: 1.5rem;
    }
}

/* style for artiste ........ */

.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 2%;
}
.box{
    display: flex;
    justify-content: center;
    margin: 17px;
}
.calbum{
    text-align: center;
}
.box img{
    /* margin-bottom: 10%; */
    border-radius:5px;
}
.title{
    text-align: center;
}
.parent{
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(27, 24, 24, 0.2);
    align-content: center;
    
}