<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Artists</title>
</head>
<body>
    <div class="navbarre">
        <div class="nav2">
            <a style="text-decoration:none" href="groupie-tracker">
                <div class="title">
                    <a href="/groupie-tracker"><h1>Artist</h1></a>
                </div>
            </a>

        </div>
    </div>

    <div class="container">
        <p class="Title">{{.Name}}</p>
        <img src="{{.Image}}">
        <p>Members :{{range .Members}} {{.}}, {{end}}</p>
        <p>Création : {{.CreationDate}}</p>
        <p>1er album : {{.FirstAlbum}}</p>
        <div id="artists" class="row">
            <div class="col" id="{{.ID}}" name="{{.ID}}">
                {{ range $key, $value := .Relations }}
                <p>{{$key}}: {{range $value}} {{.}}. {{end}}</p>
                {{ end }}
            </div>
            <div>
                <p>Locations :{{range .Locations}} {{.}}, {{end}}</p>
            </div>
            <div>
                <p>ConcertDates :{{range .ConcertDates}} {{.}}, {{end}}</p>
            </div>
        </div>
    </div>
    <div id="map" style="width: auto; height: 300px;"></div> 
   {{.src}}
 
    </body>
</html>