<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="head">
        <header class="header">
            <div class="logo">Groupie &nbsp;Tracker</div>
        </header>
        <div class="main-section">
            <h1 class="text-artists">Artists In Our Groupie Tracker Website</h1>
        </div>
   </div>
    <div class="artist-image">
        {{range .}}
        <div class="image" >
            <a href="/artist?id={{.ID}}">
                <img src="{{.Image}}"class="image-groupe">
                <p class="name" href=""><br>{{ .Name }}</p>
            </a>
        </div>
        {{end}}
    </div>
</body>
</html>